.geolocate-button {
    width: 55px !important;
    height: 55px !important;
    position: absolute;
    right: 30px;
    bottom: 70px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}