.main {
    display: grid;
    grid-template-areas: 'header''middle''toggler';
    grid-template-columns: 1fr;
    grid-template-rows: 56px 1fr 48px;
    height: 100%;
}

.main .header::after{
    display: none;
}

.map{
    position: fixed;
    height: '100vh';
    width: '100vw';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.pharmacy-list {
    height: 100%;
    grid-area: middle;
    min-height: 0;
}

.header {
    grid-area: header
}

.toggler {
    grid-area: toggler
}

.hidden {
    display: none;
}