.header {
    display: grid;
    grid-template-columns: 56px 1fr;
    align-items: center;
    height: 56px;
}

.header .menu {
    justify-self: center;
}

.header .title {
    padding-left: 10px;
    font-size: 16px;
}