@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.location-marker {
  background-color: white;
  height: 16px !important;
  width: 16px !important;
  border-radius: 50%;
  margin: -8px 0 0 -8px !important;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.location-marker::after {
  display: block;
  position: relative;
  content: '';
  height: 12px;
  width: 12px;
  top: 2px;
  left: 2px;
  background-color: #4285f4;
  border-radius: 50%;
  animation: pulse 1.5s ease-in-out 0.5s infinite alternate;
}
.location-marker.red {
  background-color: red;
}
@keyframes pulse {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.8, 0.8);
  }
}