.main {
    display: grid;
    grid-template-areas: 'header''middle''toggler';
    grid-template-columns: 1fr;
    grid-template-rows: 56px 1fr 48px;
    height: 100%;
}

.map,
.pharmacy-list {
    height: 100%;
    grid-area: middle;
    min-height: 0;
}

.header {
    grid-area: header
}

.toggler {
    grid-area: toggler
}

.hidden {
    display: none;
}